{% if releases %}
    {% for release in releases %}
        Version: {{ release.tag_name }}
        Date: {{ release.published_at[:-1] }}
        URL: {{ release.html_url }}
        Description: {{ release.body }}
        -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    {% endfor %}
{% else %}
    No releases in the last week.
{% endif %}
