{% if releases %}
    {% for release in releases %}
        Version: {{ release.tag_name }}
        Date: {{ release.published_at[:-1] }}
        URL: {{ release.html_url }}
        Description: {{ release.body }}
         Version: v1.0.19 Date: 2023-03-06T11:50:29 URL: https://github.com/smit-darji/RELESE_EMAIL/releases/tag/v1.0.19 Description: there is letest relese **v1.0.19**
        --------------------------------------------------------------------------------------------------------------------------------------------------------------------
    {% endfor %}
{% else %}
    No releases in the last week.
{% endif %}
